.Google_map {
  border-radius: 55px;
  padding: 0 20px;
}
.contentPartContainer {
  display: flex;
  flex-direction: row;
}

h5 {
  padding-top: 10px;
}

.ant-image-img {
  width: 250px;
  height: 200px;
  padding-left: 5px;
  cursor: pointer;
}
.ant-image-preview-img {
  min-width: 600px;
  min-height: 500px;
}
.ant-collapse-icon-position-right .ant-collapse-item .ant-collapse-header {
  padding: 12px 0px;
  padding-right: 40px;
}
.ant-collapse-content {
  font-size: medium;
}
